@import url(style.css);
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6em;
    filter: saturate(.7);
}
header:hover {
    filter: saturate(1);
}
menu:nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: -1em;
    width: 6em;
}
menu:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 6em;
}
#searchbar, #link {
    position: sticky;
    transition: .2s ease-in-out;
    box-shadow: 2px 2px 8px black;
    border-radius: 50%;
    width: 3em;
    height: auto;
    z-index: 2;
}
a:active ~ input[type="search"],
a:focus ~ input[type="search"] {
    display: block;
    width: 10em;
    box-shadow: 1px 1px 4px rgb(58, 58, 58);
    padding: 0 1em 0 1em;
}
input[type="search"] {
    display: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 10em;
    height: 2.8em;
    border-radius: 50px;
    bottom: 1px;
    font-size: 0.9em;
    font-weight: bolder; 
    outline: none;
    border: 1px solid rgb(77, 77, 77);
    box-shadow: 2px 2px 8px rgb(58, 58, 58);
    background: whitesmoke;
    z-index: 1;
}
input[type="search"]:hover,
input[type="search"]:active,
input[type="search"]:focus {
    display: block;
    border: 2px solid black;
    box-shadow: 1px 1px 4px rgb(58, 58, 58);
    width: 10em;
    padding: 0 1em 0 1em;
}
@media screen and (max-width: 750px) {
    menu:nth-child(1),
    input[type="search"] {
        width: 10em;
    }
    #searchbar ~ input[type="search"]:hover,
    #searchbar ~ input[type="search"]:focus,
    #searchbar ~ input[type="search"]:active {
        display: none;
    }
}